version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    container_name: aplicativo_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - project_network

  web:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8000:8000"
    container_name: aplicativo_web
    command: gunicorn project.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    networks:
      - project_network

  nginx:
    image: nginx:latest
    container_name: aplicativo_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - web
    networks:
      - project_network

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  project_network:
    driver: bridge
